<% include header %>

<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
              <img src="images/slider3.jpg" alt="Los Angeles" style="width:100%;">
            </div>
            <div class="item">
                <img src="images/slider4.jpg" alt="Los Angeles" style="width:100%;">
            </div>
            <div class="item">
                <img src="images/slider5.jpg" alt="Los Angeles" style="width:100%;">
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="col-md-12">
        <h3 style="text-align:center;font-weight:bold;">Our Products</h3>
        <div class="row">
            <div class="col-md-3 aligncenter card">
                <div class="card-header producthead">
                    <h4 class="whitetext strong">Tutorial Books</h4>
                </div>
                <div class="card-body productimage">
                    <div class="row">
                        <div class="col-md-6">
                            <img src = "images/java.jpg" class="imageproduct"><br>
                            <p>Java tutorial book</p>
                            <a href="/buyProduct/1">
                                <button class="btn btn-primary">Buy Now</button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <img src = "images/angular.jpg" class="imageproduct"><br>
                            <p>Angular 6 book</p>
                            <a href="/buyProduct/5">
                                <button class="btn btn-primary">Buy Now</button>
                            </a>
                        </div>  
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>
            
            <div class="col-md-3 aligncenter card">
                <div class="card-header producthead">
                    <h4 class="whitetext strong">Furnitures</h4>
                </div>
                <div class="card-body productimage">
                    <div class="row">
                        <div class="col-md-6">
                            <img src = "images/lg.jpg" class="imageproduct"><br>
                            <p>Washing Machine</p>
                            <a href="/buyProduct/2">
                                <button class="btn btn-primary">Buy Now</button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <img src = "images/writing-desk-with-storage.jpg" class="imageproduct"><br>
                            <p>Office table</p>
                            <a href="/buyProduct/6">
                                <button class="btn btn-primary">Buy Now</button>
                            </a>
                        </div>  
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>

            <div class="col-md-3 aligncenter card">
                <div class="card-header producthead">
                    <h4 class="whitetext strong">Mobiles</h4>
                </div>
                <div class="card-body productimage">
                    <div class="row">
                        <div class="col-md-6">
                            <img src = "images/onplus.jpg" class="imageproduct"><br>
                            <p>One Plus 6</p>
                            <a href="/buyProduct/3">
                                <button class="btn btn-primary">Buy Now</button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <img src = "images/iphone-12-gallery1-2020_FMT_WHH.jpg" class="imageproduct"><br>
                            <p>iPhone 12Mini</p>
                            <a href="/buyProduct/7">
                                <button class="btn btn-primary">Buy Now</button>
                            </a>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>

            <div class="col-md-3 aligncenter card">
                <div class="card-header producthead">
                    <h4 class="whitetext strong">Accessories</h4>
                </div>
                <div class="card-body productimage">
                    <div class="row">
                        <div class="col-md-6">
                            <img src = "images/JBL-C100SI-In-Ear-Wired-SDL936576881-3-f8f95.jpg" class="imageproduct"><br>
                            <p>JBL headphones</p>
                            <a href="/buyProduct/4">
                                <button class="btn btn-primary">Buy Now</button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <img src = "images/D5FE7F1C98A2E945D094D694C2_1588733887596.webp" class="imageproduct"><br>
                            <p>Wireless Charger</p>
                            <a href="/buyProduct/8">
                                <button class="btn btn-primary">Buy Now</button>
                            </a>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 style="font-weight:bold;color:white;padding:7px;">Men's Products</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 aligncenter">
                        <img src="images/tshirts.jpeg">
                        <h5>Men's T-shirts</h5>
                    </div>
                    <div class="col-md-2 aligncenter">
                        <img src="images/woodlandshoe.jpeg" class="menprouduct_img">
                        <h5>Sandals</h5>
                    </div>
                    <div class="col-md-2 aligncenter">
                        <img src="images/pumashoe.jpeg" class="menprouduct_img">
                        <h5>Sports Wear</h5>
                    </div>
                    <div class="col-md-2 aligncenter">
                        <img src="images/watch.jpeg" class="menprouduct_img">
                        <h5>Watches</h5>
                    </div>
                    <div class="col-md-2 aligncenter">
                        <img src="images/wallet.jpeg" class="menprouduct_img">
                        <h5>Wallets</h5>
                    </div>
                    <div class="col-md-2 aligncenter">
                        <img src="images/shoes415-7-tr-tan-original-imafs3sgynpzywyt.jpeg" class="menprouduct_img">
                        <h5>Formal Shoes</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 style="font-weight:bold;color:white;padding:7px;">Women's Products</h3>
            </div>
            <div class="row">
                <div class="card-body">
                    <div class="col-md-2 aligncenter">
                    <img src="images/sarees.jpg">
                    <h5>Saree's</h5>
                </div>
                <div class="col-md-2 aligncenter">
                    <img src="images/m-vnku008283-vishudh-original-imafp6ywnssdeunp.jpeg" class="menprouduct_img">
                    <h5>Chuddies</h5>
                </div>
                <div class="col-md-2 aligncenter">
                    <img src="images/skirts.jpeg" class="menprouduct_img">
                    <h5>Skirts</h5>
                </div>
                <div class="col-md-2 aligncenter">
                    <img src="images/footwear.jpeg" class="menprouduct_img">
                    <h5>Footwear</h5>
                </div>
                <div class="col-md-2 aligncenter">
                    <img src="images/ladieswatch.jpeg" class="menprouduct_img">
                    <h5>Watches</h5>
                </div>
                <div class="col-md-2 aligncenter">
                    <img src="images/handbag.jpeg" class="menprouduct_img">
                    <h5>Hand bangs</h5>
                </div>  
            </div>
        </div>
    </div>
    <div class="col-md-12 aligncenter">
        <button class="btn btn-primary "> 
            Click here to Purchase
        </button>
    </div>
    <div class="col-md-12">
        <h2>Codebuilders: The One-stop Shopping Destination</h2>
        <p>
            E-commerce is revolutionizing the way we all shop in India. Why do you want to hop from one store to another in search of the latest phone when you can find it on the Internet in a single click? Not only mobiles. Flipkart houses everything you can possibly imagine, from trending electronics like laptops, tablets, smartphones, and mobile accessories to in-vogue fashion staples like shoes, clothing and lifestyle accessories; from modern furniture like sofa sets, dining tables, and wardrobes to appliances that make your life easy like washing machines, TVs, ACs, mixer grinder juicers and other time-saving kitchen and small appliances; from home furnishings like cushion covers, mattresses and bedsheets to toys and musical instruments, we got them all covered. You name it, and you can stay assured about finding them all here. For those of you with erratic working hours, Flipkart is your best bet. Shop in your PJs, at night or in the wee hours of the morning. This e-commerce never shuts down.
        </p>
        <p>
            What's more, with our year-round shopping festivals and events, our prices are irresistible. We're sure you'll find yourself picking up more than what you had in mind. If you are wondering why you should shop from Flipkart when there are multiple options available to you, well, the below will answer your question.
        </p>
        <h2>No Cost EMI</h2>
        <p>
            In an attempt to make high-end products accessible to all, our No Cost EMI plan enables you to shop with us under EMI, without shelling out any processing fee. Applicable on select mobiles, laptops, large and small appliances, furniture, electronics and watches, you can now shop without burning a hole in your pocket. If you've been eyeing a product for a long time, chances are it may be up for a no cost EMI. Take a look ASAP! Terms and conditions apply.
        </p>
        <h2>EMI on Debit Cards</h2>
        <p>
            Did you know debit card holders account for 79.38 crore in the country, while there are only 3.14 crore credit card holders? After enabling EMI on Credit Cards, in another attempt to make online shopping accessible to everyone, Flipkart introduces EMI on Debit Cards, empowering you to shop confidently with us without having to worry about pauses in monthly cash flow. At present, we have partnered with Axis Bank, HDFC Bank, State Bank of India and ICICI Bank for this facility. More power to all our shoppers! Terms and conditions apply.
        </p>
        <h2>Mobile Exchange Offers</h2>
        <p>
            Get an instant discount on the phone that you have been eyeing on. Exchange your old mobile for a new one after the Flipkart experts calculate the value of your old phone, provided it is in a working condition without damage to the screen. If a phone is applicable for an exchange offer, you will see the 'Buy with Exchange' option on the product description of the phone. So, be smart, always opt for an exchange wherever possible. Terms and conditions apply.
        </p>
        <h2>Electronic Devices and Accessories</h2>
        <p>
            When it comes to laptops, we are not far behind. Filter among dozens of super-fast operating systems, hard disk capacity, RAM, lifestyle, screen size and many other criterias for personalized results in a flash. All you students out there, confused about what laptop to get? Our Back To College Store segregates laptops purpose wise (gaming, browsing and research, project work, entertainment, design, multitasking) with recommendations from top brands and industry experts, facilitating a shopping experience that is quicker and simpler.

        </p>
        <p>
            Photography lovers, you couldn't land at a better page than ours. Cutting-edge DSLR cameras, ever reliable point-and-shoot cameras, millennial favourite instant cameras or action cameras for adventure junkies: our range of cameras is as much for beginners as it is for professionals. Canon, Nikon, GoPro, Sony, and Fujifilm are some big names you'll find in our store. Photography lovers, you couldn't land at a better page than ours. Cutting-edge DSLR cameras, ever reliable point-and-shoot cameras, millennial favourite instant cameras or action cameras for adventure junkies: our range of cameras is as much for beginners as it is for professionals. Canon, Nikon, GoPro, Sony, and Fujifilm are some big names you'll find in our store.
        </p>
        <p>
            Turn your home into a theatre with a stunning surround sound system. Choose from our elaborate range of Sony home theatres, JBL soundbars and Philips tower speakers for an experience to remember.
        </p>
        <p>
            How about jazzing up your phone with our quirky designer cases and covers? Our wide-ranging mobile accessories starting from headphones, power banks, memory cards, mobile chargers, to selfie sticks can prove to be ideal travel companions for you and your phone; never again worry about running out of charge or memory on your next vacation.
        </p>
        <h2>Baby and Kids</h2>
        <p>
            Your kids deserve only the best. From bodysuits, booties, diapers to strollers, if you're an expecting mother or a new mother, you will find everything you need to set sail on a smooth parenting journey with the help of our baby care collection. When it comes to safety, hygiene and comfort, you can rely on us without a second thought. Huggies, Pampers, MamyPoko, and Johnson & Johnson: we host only the most-trusted names in the business for your baby.  
        </p>
        <h2>Books, Sports and Games</h2>
        <p>
            Work hard and no play? We don't believe in that. Get access to best-selling fiction and non-fiction books by your favourite authors, thrilling English and Indian blockbusters, most-wanted gaming consoles, and a tempting range of fitness and sports gadgets and equipment bound to inspire you to get moving.
        </p>
    </div>
</div>

<% include footer %>

<% 
    if(sessionmsg)
    {
%>
        <script>
            Swal.fire({
            title: "<%= sessionmsg %>", 
            html: "For More Info check your E-mail",  
            confirmButtonText: "Ok",
        }).then(function(){
            window.location.href = "/destroy";
        });
        </script>
<% 
    }
    
%>
